
// @import 'global.scss' as ;

body {
    font-family: 'Montserrat-Regular', sans-serif;
    margin:0;
    box-sizing: border-box;
    background-color: white;

.home{
    display: flex;
    justify-content: space-between;
   

    &__nav{
        display: flex;
        flex-direction: row;
    }
    &__logo{
        padding-left: 30%;
        padding-top: 30%;
        &--image{
            height: 8%;
            width: auto;
        }
     
    }

    &__nav-button{
        position: absolute;
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
        top: 4%;
        left: 75%;
        border: none;
        border-radius: 12px;
        padding: 15px;
        background-image: linear-gradient(to right, #ffde59, #ff914d );

    }

    &__main{
        margin-top: 20%;
        margin-left: 0;
        margin-right: 20%;

    }
    &__imagebox{
        display: flex;
        position: absolute;
        left: 35%;
        top: 17%;

        &--image{
            background-repeat: no-repeat;
            background-position: top right;
            background-size: contain;
            padding: 38vw;
        }
    }

    &__title{
        text-align: center;
        font-size: 5rem;
        color: #2B46BD;
        font-weight: 100;

        &--sublime {
        display: flex;
        position: absolute;
        margin-right: 3%;
        letter-spacing: 17px;
        }
        &--escape{
            margin-left: 5%;
            letter-spacing: 17px;
        }
        &--highlight {
          position: relative;
          font-family: 'League Script';
          font-size: 5.8rem;
          color: #ff8a00;
          margin-right: 63vw;
          top: 10vw;
        }
      }

      &__subtitle-section{
        display: flexbox;
        width: 45%;
    

        &--description {
            font-size: 1.1rem;
            margin-bottom: 2rem;
            color: #2B46BD;
            font-weight: 100;
            word-spacing: 0.5px;
            margin-top: 15%;
          }
      }

      &__discover-now-button {
        text-decoration: none; 
      }

      &__discover-button {
        display: flex;
        align-items: center;
        border: 2px solid #2B46BD;
        color:#2B46BD;
        padding: 0vw 2vw;
        font-size: 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s;
    
  
        &:hover {
          background-color: #0056b3;
          color: #ffff;
        }
        &--icon{
            display: flex;
            align-items: center;
            
            img{
                width: 8vw;
                height: 8vw;
            }
        }
        &--text{
            margin-right: 5vw;
        }
      }
 
      &__stats{
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 1rem;
      color:#2B46BD;
      margin-top: 2rem;
      margin-right: 41vw;
      gap: 15%;
      

      &__stat {
        background-color: #f8f9fa;

      }
      }
      

      

    }




}

