
body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    box-sizing: border-box;

.generate-artwork-page {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    color: #333;

    &__logo {
      display: flex;
      flex-direction: row;
      &-image {
        height: 50px; 
        width: auto;
        margin-right: 1rem;
      }
    }
    &__button {
      font-size: 1.5rem;
      color:#333;
      text-decoration: none;
      border: none;
      background: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .main-section {
    text-align: center;
    padding: 2rem;
    background-color: #f8f9fa;
    

    &__title {
      font-size: 2.5rem;
      color: #FFA500; 
      margin-bottom: 1rem;
      font-weight: 100;
      
    }

    &__subtitle {
      font-size: 1.25rem;
      color:#333;
      margin-bottom: 2rem;
      width: 60%;
      margin-left: 20%;
    }

    &__dropdown {
      margin-bottom: 3rem;

      &-label {
        font-size: 1rem;
        margin-right: 0.5rem;
      }

      &-select {
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
      }
    }

    &__generate-button {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      background: linear-gradient(90deg, #FF8A00, #FFC800);
      color: #fff;
      cursor: pointer;
      transition: background 0.3s;
      

      &:hover {
        background: linear-gradient(90deg, #FF8A00, #FFA500);
      }
    }

      &__surprise-button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border: none;
        border-radius: 25px;
        background: linear-gradient(90deg, #FF8A00, #FFC800);
        color: #fff;
        margin-left: 5%;
        cursor: pointer;
        transition: background 0.3s;
        
  
        &:hover {
          background: linear-gradient(90deg, #FF8A00, #FFA500);
        }
    }

    .artwork-placeholder {
      margin-top: 3rem;
      margin-right: 35%;

      &__image {
        max-width: 100%;
        margin-left: 32%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      
    }
  }
}
}