
$font-stack: Montserrat, sans-serif; 
$primary-white: #FAF7EF;
$primary-blue: #2B46BD;
$primary-orange: #ff914d;
$primary-yellow: #ffde59;



body {
  font: 100% $font-stack;
  color: $primary-color;
}